body {
  background-color: lightblue;
}
.app{
  /* background-color: beige; */
  /* height: 400px; */
  width: 45%;
  margin-left: 300px;
  margin-top: 10px;
}

.form-control:focus {
  box-shadow: none;
  }

  @media (max-width:660px)
  {
    .app{
      width: 115%;
  margin-left: 20px;
  margin-top: 10px;
    }
  }